<div class="col overflow-scroll" style="height: 150px;">





    <div class="row">
<div class="col">

    <div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="eng">
  <label class="form-check-label" for="inlineRadio1">English</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox"   name="inlineRadioOptions" id="inlineRadio1" value="afr">
  <label class="form-check-label" for="inlineRadio1">Afrikaans</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="amh">
  <label class="form-check-label" for="inlineRadio1">Amharic</label>
</div>
<div class="form-check">
  <input class="form-check-input" checked type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ara" >
  <label class="form-check-label" for="inlineRadio1">Arabic</label>
</div>
 
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="asm">
  <label class="form-check-label" for="inlineRadio1">Assamese</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="aze">
  <label class="form-check-label" for="inlineRadio1">Azerbaijani</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="aze_cyrl">
  <label class="form-check-label" for="inlineRadio1">Azerbaijani-Cyrilic</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="bel">
  <label class="form-check-label" for="inlineRadio1">Belarusian</label>
</div>
<div class="form-check">
  <input class="form-check-input" checked type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ben">
  <label class="form-check-label" for="inlineRadio1">Bengali</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="bod">
  <label class="form-check-label" for="inlineRadio1">Tibetan</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="bos">
  <label class="form-check-label" for="inlineRadio1">Bosnian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="bre">
  <label class="form-check-label" for="inlineRadio1">Breton</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="bul">
  <label class="form-check-label" for="inlineRadio1">Bulgarian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="cat">
  <label class="form-check-label" for="inlineRadio1">Catalan; Valencian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ceb">
  <label class="form-check-label" for="inlineRadio1">Cebuano</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ces">
  <label class="form-check-label" for="inlineRadio1">Czech</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="chi_sim">
  <label class="form-check-label" for="inlineRadio1">Chinese - Simplified</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="chi_tra">
  <label class="form-check-label" for="inlineRadio1">Chinese - Traditional</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="chr">
  <label class="form-check-label" for="inlineRadio1">Cherokee</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="cos">
  <label class="form-check-label" for="inlineRadio1">Corsican</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="cym">
  <label class="form-check-label" for="inlineRadio1">Welsh</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="dan">
  <label class="form-check-label" for="inlineRadio1">Danish</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="dan_frak">
  <label class="form-check-label" for="inlineRadio1">Danish - Fraktur (contrib)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="deu">
  <label class="form-check-label" for="inlineRadio1">German</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="deu_frak">
  <label class="form-check-label" for="inlineRadio1">German - Fraktur (contrib)</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="dzo">
  <label class="form-check-label" for="inlineRadio1">Dzongkha</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ell">
  <label class="form-check-label" for="inlineRadio1">Greek, Modern (1453-)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="enm">
  <label class="form-check-label" for="inlineRadio1">English, Middle (1100-1500)</label>
</div>


<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="epo">
  <label class="form-check-label" for="inlineRadio1">Esperanto</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="equ">
  <label class="form-check-label" for="inlineRadio1">Math / equation detection module</label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="uzb_cyrl">
    <label class="form-check-label" for="inlineRadio1">Uzbek - Cyrilic</label>
  </div>
  
 
  



</div>
<div class="col">


 
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="yor">
        <label class="form-check-label" for="inlineRadio1">Yoruba</label>
      </div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="est">
  <label class="form-check-label" for="inlineRadio1">Estonian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="eus">
  <label class="form-check-label" for="inlineRadio1">Basque</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="fas">
  <label class="form-check-label" for="inlineRadio1">Faroese</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="eus">
  <label class="form-check-label" for="inlineRadio1">Persian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="fil">
  <label class="form-check-label" for="inlineRadio1">Filipino (old - Tagalog)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="fra">
  <label class="form-check-label" for="inlineRadio1">French</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="frk">
  <label class="form-check-label" for="inlineRadio1">German - Fraktur</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="frm">
  <label class="form-check-label" for="inlineRadio1">French, Middle (ca.1400-1600)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="fry">
  <label class="form-check-label" for="inlineRadio1">Western Frisian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="gla">
  <label class="form-check-label" for="inlineRadio1">Scottish Gaelic</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="glg">
  <label class="form-check-label" for="inlineRadio1">Irish</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="grc">
  <label class="form-check-label" for="inlineRadio1">Greek, Ancient (to 1453) (contrib)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="guj">
  <label class="form-check-label" for="inlineRadio1">Gujarati</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="hat">
  <label class="form-check-label" for="inlineRadio1">Haitian; Haitian Creole</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="heb">
  <label class="form-check-label" for="inlineRadio1">Hebrew</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="hin">
  <label class="form-check-label" for="inlineRadio1">Hindi</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="hrv">
  <label class="form-check-label" for="inlineRadio1">Croatian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="hun">
  <label class="form-check-label" for="inlineRadio1">Hungarian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="hye">
  <label class="form-check-label" for="inlineRadio1">Armenian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="iku">
  <label class="form-check-label" for="inlineRadio1">Inuktitut</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ind">
  <label class="form-check-label" for="inlineRadio1">Indonesian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="isl">
  <label class="form-check-label" for="inlineRadio1">Icelandic</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ita">
  <label class="form-check-label" for="inlineRadio1">Italian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ita_old">
  <label class="form-check-label" for="inlineRadio1">Italian - Old</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="jav">
  <label class="form-check-label" for="inlineRadio1">Javanese</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="jpn">
  <label class="form-check-label" for="inlineRadio1">Japanese</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kan">
  <label class="form-check-label" for="inlineRadio1">	Kannada</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kat">
  <label class="form-check-label" for="inlineRadio1">Georgian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kat_old">
  <label class="form-check-label" for="inlineRadio1">Georgian - Old</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kaz">
  <label class="form-check-label" for="inlineRadio1">Kazakh</label>
</div>

</div>
<div class="col">




<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="khm">
  <label class="form-check-label" for="inlineRadio1">Central Khmer</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kir">
  <label class="form-check-label" for="inlineRadio1">Kirghiz; Kyrgyz</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kmr">
  <label class="form-check-label" for="inlineRadio1">Kurmanji (Kurdish - Latin Script)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kor">
  <label class="form-check-label" for="inlineRadio1">Korean</label>
</div>


<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kor_vert">
  <label class="form-check-label" for="inlineRadio1">Korean (vertical)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="kur">
  <label class="form-check-label" for="inlineRadio1">Kurdish (Arabic Script)</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="lao">
  <label class="form-check-label" for="inlineRadio1">Lao</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="lat">
  <label class="form-check-label" for="inlineRadio1">Latin</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="lav">
  <label class="form-check-label" for="inlineRadio1">Latvian</label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="lit">
    <label class="form-check-label" for="inlineRadio1">Lithuanian</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ltz">
    <label class="form-check-label" for="inlineRadio1">Luxembourgish</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="mal">
    <label class="form-check-label" for="inlineRadio1">Malayalam</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="mar">
    <label class="form-check-label" for="inlineRadio1">Marathi</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="mkd">
    <label class="form-check-label" for="inlineRadio1">Macedonian</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="mlt">
    <label class="form-check-label" for="inlineRadio1">Maltese</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="mon">
    <label class="form-check-label" for="inlineRadio1">Mongolian</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="mri">
    <label class="form-check-label" for="inlineRadio1">Maori</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="msa">
    <label class="form-check-label" for="inlineRadio1">Malay</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="mya">
    <label class="form-check-label" for="inlineRadio1">Burmese</label>
  </div>
  
<div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="nep">
    <label class="form-check-label" for="inlineRadio1">Nepali</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="nld">
    <label class="form-check-label" for="inlineRadio1">Dutch; Flemish</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="nor">
    <label class="form-check-label" for="inlineRadio1">Norwegian</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="oci">
    <label class="form-check-label" for="inlineRadio1">Occitan (post 1500)</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ori">
    <label class="form-check-label" for="inlineRadio1">Oriya</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="osd">
    <label class="form-check-label" for="inlineRadio1">Orientation and script detection module</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="pan">
    <label class="form-check-label" for="inlineRadio1">Panjabi; Punjabi</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="pol">
    <label class="form-check-label" for="inlineRadio1">Polish</label>
  </div>



  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="por">
    <label class="form-check-label" for="inlineRadio1">Portuguese</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="pus">
    <label class="form-check-label" for="inlineRadio1">Pushto; Pashto</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="que">
    <label class="form-check-label" for="inlineRadio1">Quechua</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ron">
    <label class="form-check-label" for="inlineRadio1">Romanian; Moldavian; Moldovan</label>
  </div>


</div>
<div class="col">






<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="rus">
  <label class="form-check-label" for="inlineRadio1">Russian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="san">
  <label class="form-check-label" for="inlineRadio1">Sanskrit</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="sin">
  <label class="form-check-label" for="inlineRadio1">Sinhala; Sinhalese</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="slk">
  <label class="form-check-label" for="inlineRadio1">	Slovak</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="slk_frak">
  <label class="form-check-label" for="inlineRadio1">Slovak - Fraktur (contrib)o</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="slv">
  <label class="form-check-label" for="inlineRadio1">Slovenian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="snd">
  <label class="form-check-label" for="inlineRadio1">Sindhi</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="spa">
  <label class="form-check-label" for="inlineRadio1">Spanish; Castilian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="spa_old">
  <label class="form-check-label" for="inlineRadio1">Spanish; Castilian - Old</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="sqi">
  <label class="form-check-label" for="inlineRadio1">Albanian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="srp">
  <label class="form-check-label" for="inlineRadio1">Serbian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="srp_latn">
  <label class="form-check-label" for="inlineRadio1">Serbian - Latin</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="sun">
  <label class="form-check-label" for="inlineRadio1">Sundanese</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="swa">
  <label class="form-check-label" for="inlineRadio1">Swahili</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="swe">
  <label class="form-check-label" for="inlineRadio1">Swedish</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="syr">
  <label class="form-check-label" for="inlineRadio1">Syriac</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tam">
  <label class="form-check-label" for="inlineRadio1">Tamil</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tat">
  <label class="form-check-label" for="inlineRadio1">Tatar</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tel">
  <label class="form-check-label" for="inlineRadio1">Telugu</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tgk">
  <label class="form-check-label" for="inlineRadio1">Tajik</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tgl">
  <label class="form-check-label" for="inlineRadio1">Tagalog (new - Filipino)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tha">
  <label class="form-check-label" for="inlineRadio1">Thai</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tir">
  <label class="form-check-label" for="inlineRadio1">Tigrinya</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="pus">
  <label class="form-check-label" for="inlineRadio1">Tonga</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="tur">
  <label class="form-check-label" for="inlineRadio1">Turkish</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="uig">
  <label class="form-check-label" for="inlineRadio1">Uighur; Uyghur</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="ukr">
  <label class="form-check-label" for="inlineRadio1">Ukrainian</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="urd">
  <label class="form-check-label" for="inlineRadio1">Urdu</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="uzb">
  <label class="form-check-label" for="inlineRadio1">Uzbek</label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="vie">
    <label class="form-check-label" for="inlineRadio1">Vietnamese</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="yid">
    <label class="form-check-label" for="inlineRadio1">Yiddish</label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="pus">
    <label class="form-check-label" for="inlineRadio1">	Pushto; Pashto</label>
  </div>

</div>
</div>


  </div>
    